.nav-container {
  display: flex;
  align-items: center;
  height: 100px;
  background: black;
  margin: 0;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  margin-right: 20px;
}

.flash-logo {
  margin-left: 20px;
  height: 20px;
}

.flash-logo-text {
  font-family: "Limelight";
  color: white;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
  margin: 0 10px;
}

.Linkdln-name-link {
  font-size: 32px;
  color: white;
  font-weight: 800;
}
